.detailsection {
    width: 30%;
    min-height: 30%;
    margin-top: 5%;
    margin-bottom: 10%;
    padding-bottom: 5%;
    border: 1.5px;
    border-style: solid;
    border-color: #110579;
}    
.image{
    width: 40%;
    margin-top: 5%;
    margin-right: 35%;
}
.subtith2{
    margin-top: 5%;
    margin-left: 36%;
    font-size: 25px;
    color: #110579;
}
p{
    font-size: 17px;
    margin: 5%;
}
